html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: inherit;
}





body {
    background-color: aquamarine;
}

img {
    max-width:100%;
    height:auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 600; 
  margin: 0 0 0.5em; 
  line-height: 1.2; 
  color: #474646; 
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;

}

h2 {
  font-size: 2rem;

}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem; 
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: navy;
}

a:link {
    color:white;
    text-decoration: none;
}

a:visited {
    color:blue;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color:blueviolet;
}

li {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;                 
  line-height: 1.6;
  color:black
}

.section-block {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 3rem;
}

.page-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

